*~
*.a
*.la
*.lo
*.o
*.orig
*.Po
/Makefile
/autom4te.cache
/config.log
/config.status
/iperf3.spec
docs/_build
docs/_static
/libtool
src/.deps
src/.libs
src/Makefile
src/iperf_config.h
src/version.h
src/stamp-h1
src/iperf3
src/iperf3_profile
src/t_timer
src/t_units
src/t_uuid
src/t_api
examples/.libs
examples/Makefile
examples/mic
examples/mis
